@model TravelExpert.Models.Package

@{
    ViewData["Title"] = @Html.DisplayNameFor(model => model.PkgName);
}

<br />
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-sm-6  d-flex">
            <div class="card text-center" style="width: 50rem; height: 50rem; border-color:cadetblue">
                <div class="card-header">
                    <h5>@Html.DisplayFor(modelItem => Model.PkgName)</h5>
                </div>
                <img src="\Images\@(Model.PackageId + ".jpg")" class="card-img-top img-fluid" style="width:auto; height: 25rem">
                <div class="card-body">
                    <div class="card-body">
                        <p class="card-title">@Html.DisplayFor(modelItem => Model.PkgDesc)</p>
                        <p class="card-title">@Html.DisplayFor(modelItem => Model.PkgStartDate) - @Html.DisplayFor(modelItem => Model.PkgEndDate)</p>
                        <h6 class="card-subtitle mb-2 text-muted"> $ @Html.DisplayFor(modelItem => Model.PkgBasePrice)</h6>
                        <a asp-action="Index" asp-route-id="@Model.PackageId" class="btn btn-info">Back to Packages</a>


                        <a asp-controller="Customer" asp-action="Create" class="btn btn-info">Add Package to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
