@model IEnumerable<TravelExpert.Models.Package>

@{
    ViewData["Title"] = "Home - Available Packages";
}

<h1>Welcome to Travel Experts Vacation Planning!</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PkgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgBasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PkgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkgBasePrice)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.PackageId">View Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
